<div class="w-full">
  <div class="mx-auto w-full max-w-[1250px] px-2 pr-4">
    <%!-- <.header dropdown_open={false} /> --%>
    <main>{@inner_content}</main>
    <.flash_group flash={@flash} />
  </div>
</div>
